Video creation Agents/SG_2March_Veo3 _KIE_Video_Generation_V2_Form.json
{
  "name": "SG_2March_Veo3 _KIE_Video_Generation_V2_Form",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.Prompt }}"
            },
            {
              "name": "model",
              "value": "={{ $json.Model }}"
            },
            {
              "name": "aspectRatio",
              "value": "={{ $json['Aspect Ratio'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4582bfed-ec6c-4f96-aee0-dc8a649e62b6",
      "name": "Generate Video with VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        112,
        1264
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "BWkcIgFnKsCzyxRe",
          "name": "SG KIE VEO3"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "32d48112-88f8-4041-a14e-efcf2ed174f1",
      "name": "Wait for VEO3 Rendering",
      "type": "n8n-nodes-base.wait",
      "position": [
        336,
        1264
      ],
      "webhookId": "806d2d90-0c85-4222-9a1c-2b837396fc8a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f20e6942-7bdd-478f-8241-43753084e499",
      "name": "Download Video from VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        608,
        1264
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "BWkcIgFnKsCzyxRe",
          "name": "SG KIE VEO3"
        }
      }
    },
    {
      "parameters": {
        "content": "# 📑  Generate & Download Video with VEO3- Dynamic entries using form",
        "height": 368,
        "width": 1580
      },
      "id": "f0db6b7d-d1ef-44b6-ae4a-f3204e211973",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Video Creation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "Aspect Ratio",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "9:16"
                  },
                  {
                    "option": "16:9"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Model",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "veo3_fast"
                  },
                  {
                    "option": "fast"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -144,
        1264
      ],
      "id": "50e2a894-84c4-4cd8-8cb0-94c5dcd68092",
      "name": "On form submission",
      "webhookId": "1ab36d7c-2149-4c1f-b316-18af6643ef07"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HaO1LDA3oJM-049iZCCjMwD_GhgbVWnrdOdLK70GUuA",
          "mode": "list",
          "cachedResultName": "20260209_Youtube_Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HaO1LDA3oJM-049iZCCjMwD_GhgbVWnrdOdLK70GUuA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "YouTube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HaO1LDA3oJM-049iZCCjMwD_GhgbVWnrdOdLK70GUuA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "videoLink": "={{ $json.data.response.resultUrls[0] }}",
            "videoStatus": "={{ $json.msg }}",
            "Title": "={{ $('On form submission').item.json.Prompt }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_script",
              "displayName": "video_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scene 1",
              "displayName": "Scene 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scene 2",
              "displayName": "Scene 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scene 3",
              "displayName": "Scene 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scene 4",
              "displayName": "Scene 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "music",
              "displayName": "music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "videoStatus",
              "displayName": "videoStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publishStatus",
              "displayName": "publishStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "videoLink",
              "displayName": "videoLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2750a255-3464-4051-84ec-b61d4cd34e96",
      "name": "Save Video to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        816,
        1264
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swHN4rGGgv0MH5qi",
          "name": "SG Techie Google Sheets account 5"
        }
      }
    }
  ],
  "pinData": {
    "Generate Video with VEO3": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "f9b20645d12aed32dbc130081080ba9a"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Download Video from VEO3": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "b1b59a54c0e049f9bdb2ee4cd618ade1",
            "paramJson": "{\"aspectRatio\":\"16:9\",\"enableFallback\":false,\"enableTranslation\":true,\"model\":\"veo3_fast\",\"prompt\":\"\\\"Create a cinematic 5 second video of A cat dancing in an office\\\"\"}",
            "response": {
              "taskId": "b1b59a54c0e049f9bdb2ee4cd618ade1",
              "resolution": "720p",
              "originUrls": null,
              "resultUrls": [
                "https://tempfile.aiquickdraw.com/v/b1b59a54c0e049f9bdb2ee4cd618ade1_1771829352.mp4"
              ],
              "hasAudioList": [
                true
              ],
              "seeds": [
                59152
              ]
            },
            "successFlag": 1,
            "fallbackFlag": false,
            "completeTime": 1771829355000,
            "createTime": 1771829194000,
            "errorCode": null,
            "errorMessage": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "On form submission": [
      {
        "json": {
          "Prompt": "An Army of ants doing parade on Republic Day",
          "Aspect Ratio": "9:16",
          "Model": "veo3_fast",
          "submittedAt": "2026-03-02T06:30:05.740-05:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Generate Video with VEO3": {
      "main": [
        [
          {
            "node": "Wait for VEO3 Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for VEO3 Rendering": {
      "main": [
        [
          {
            "node": "Download Video from VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video from VEO3": {
      "main": [
        [
          {
            "node": "Save Video to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Generate Video with VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "17de5c85-8d65-4ec5-aaf7-9ec0b86f9161",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e99e0d1157c9445a053edb1d8bcb3c19869f806f2b50808813faa4f314de9dd4"
  },
  "id": "G44ugGRgwOpGUfRY",
  "tags": [
    {
      "updatedAt": "2025-11-01T17:53:32.390Z",
      "createdAt": "2025-11-01T17:53:32.390Z",
      "id": "ng1dgEloOm3KOCuS",
      "name": "SG"
    }
  ]
}