Video creation Agents/SG_Veo3 _KIE_Video_12June_Generation_V1.json
{
  "name": "SG_Veo3 _KIE_Video_12June_Generation_V1",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "aspectRatio",
              "value": "={{ $json['aspect ratio'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "79a36ea9-57c9-4080-b5c6-6c1aa7266c3c",
      "name": "Generate Video with VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        112,
        1264
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "BWkcIgFnKsCzyxRe",
          "name": "SG KIE VEO3"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "7a8075a3-00a8-451d-ab18-b152fc894f66",
      "name": "Wait for VEO3 Rendering",
      "type": "n8n-nodes-base.wait",
      "position": [
        336,
        1264
      ],
      "webhookId": "ccfe0058-4964-46d5-9276-764e2c9f1333",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "47ea7fc3-fa8f-4033-9433-50ce78ce6ed0",
      "name": "Download Video from VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        608,
        1264
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "BWkcIgFnKsCzyxRe",
          "name": "SG KIE VEO3"
        }
      }
    },
    {
      "parameters": {
        "content": "# 📑  Generate & Download Video with VEO3- Hardcoded values",
        "height": 352,
        "width": 1580
      },
      "id": "7a425db5-8743-4288-be1f-7a175aadaa6f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        1264
      ],
      "id": "1233fba6-7d6e-423a-851b-6f1a4a0fa169",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71af2294-0aa0-4df2-91f3-c06c7c9e36fc",
              "name": "prompt",
              "value": "apple cut by a knife",
              "type": "string"
            },
            {
              "id": "d7da865e-d0c6-49e8-b688-42d776a7ba60",
              "name": "aspect ratio",
              "value": "9:16",
              "type": "string"
            },
            {
              "id": "f109923c-ea2b-4462-b519-b4cf595311a0",
              "name": "model",
              "value": "veo3_fast",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1264
      ],
      "id": "a73b8280-a4e4-4ea3-bdc3-c7f33b533d4e",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Download Video from VEO3": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "b1b59a54c0e049f9bdb2ee4cd618ade1",
            "paramJson": "{\"aspectRatio\":\"16:9\",\"enableFallback\":false,\"enableTranslation\":true,\"model\":\"veo3_fast\",\"prompt\":\"\\\"Create a cinematic 5 second video of A cat dancing in an office\\\"\"}",
            "response": {
              "taskId": "b1b59a54c0e049f9bdb2ee4cd618ade1",
              "resolution": "720p",
              "originUrls": null,
              "resultUrls": [
                "https://tempfile.aiquickdraw.com/v/b1b59a54c0e049f9bdb2ee4cd618ade1_1771829352.mp4"
              ],
              "hasAudioList": [
                true
              ],
              "seeds": [
                59152
              ]
            },
            "successFlag": 1,
            "fallbackFlag": false,
            "completeTime": 1771829355000,
            "createTime": 1771829194000,
            "errorCode": null,
            "errorMessage": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Generate Video with VEO3": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "e1a0f92bb1b6646e0b8bf638cecc4249"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Generate Video with VEO3": {
      "main": [
        [
          {
            "node": "Wait for VEO3 Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for VEO3 Rendering": {
      "main": [
        [
          {
            "node": "Download Video from VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video from VEO3": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Generate Video with VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5589b78e-3bb2-4081-a7a7-72647a29b2e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e99e0d1157c9445a053edb1d8bcb3c19869f806f2b50808813faa4f314de9dd4"
  },
  "id": "dxRE65wCsJcx9aSl",
  "tags": [
    {
      "updatedAt": "2025-11-01T17:53:32.390Z",
      "createdAt": "2025-11-01T17:53:32.390Z",
      "id": "ng1dgEloOm3KOCuS",
      "name": "SG"
    }
  ]
}