Voice Agent Using Bolna/SG_Voice_Calling_V3_GoogleSheet_29Jan2026.json
{
  "name": "SG_Voice_Calling_V3_GoogleSheet_29Jan2026",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HsBnI0a2tQJ1-U0KtG9SVhaHYcbzkBOc6E3VRIcD-Ww",
          "mode": "list",
          "cachedResultName": "SG AI Agents Calling sheet sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HsBnI0a2tQJ1-U0KtG9SVhaHYcbzkBOc6E3VRIcD-Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Calls_27Oct",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HsBnI0a2tQJ1-U0KtG9SVhaHYcbzkBOc6E3VRIcD-Ww/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        368,
        304
      ],
      "id": "3baecf7b-68ea-4ebd-b5b5-a53dcbc1ff85",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swHN4rGGgv0MH5qi",
          "name": "SG Techie Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        688,
        304
      ],
      "id": "e93a7188-1361-436e-9bb2-d3a931c5b252",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "=https://api.bolna.ai/agent/c471be3f-85b6-489c-859b-b5d4917f42e2/execution/{{ $json.execution_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        304
      ],
      "id": "31195297-21d9-49a1-b886-b02e6b893911",
      "name": "Transcript",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9syDrSLoOUJ5Jjlw",
          "name": "SG voice agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HsBnI0a2tQJ1-U0KtG9SVhaHYcbzkBOc6E3VRIcD-Ww",
          "mode": "list",
          "cachedResultName": "SG AI Agents Calling sheet sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HsBnI0a2tQJ1-U0KtG9SVhaHYcbzkBOc6E3VRIcD-Ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Calls_27Oct",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HsBnI0a2tQJ1-U0KtG9SVhaHYcbzkBOc6E3VRIcD-Ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "execution ID": "={{ $('Calling the agent').item.json.execution_id }}",
            "status": "={{ $('Transcript').item.json.status }}",
            "Summary": "={{ $json.output.summary }}",
            "row_number": "={{ $('Google Sheets').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution ID",
              "displayName": "execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2624,
        288
      ],
      "id": "92625af4-bca8-469a-8ade-4ce1d2b34422",
      "name": "update sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swHN4rGGgv0MH5qi",
          "name": "SG Techie Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f4e0f28-2041-4ebb-b31f-0a3ad1c2446a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3cfb6586-7bf8-4e0e-83bd-122ded65154a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "busy",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ee20313b-70fd-4e45-a87a-b13e7f80afdc",
              "leftValue": "={{ $json.status }}",
              "rightValue": "dropped",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1824,
        304
      ],
      "id": "f6f7fc1d-8a70-4196-9f12-59799f5f4c25",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1936,
        528
      ],
      "id": "5f2a694c-6161-48f4-8790-ea09f03f0e7a",
      "name": "Wait",
      "webhookId": "190cbd54-eb72-4539-8bc3-55b566a3d21c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        352
      ],
      "id": "fc4cec21-fd5c-424f-b440-2a9b87fec392",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bolna.ai/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "71be454a-122a-4376-a22c-472d902eafbf"
            },
            {
              "name": "recipient_phone_number",
              "value": "=+91{{ $json['phone number'] }}"
            },
            {
              "name": "callback_url",
              "value": "https://n8n.coachshwetagupta.com/webhook/bolna-callback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        304
      ],
      "id": "f3e8bf49-792f-4063-abaf-efbe80719227",
      "name": "Calling the agent",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9syDrSLoOUJ5Jjlw",
          "name": "SG voice agent"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a structured data extractor for sales calls.\n\nGiven the following call summary, extract and return the following fields in JSON:\n- summary\n\nUse plain values and infer where necessary. Format output as a clean JSON object.\n\nCALL SUMMARY:\n{{ $json.transcript }}\n\nOutput format should be \n{\n  \"summary\": summary\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2112,
        256
      ],
      "id": "b6da867e-5cbf-4c8f-98d0-e30e63e39c28",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2240,
        752
      ],
      "id": "2687b6b7-f2c8-428e-ae13-84be089773b3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "p5hxeYZcLwpy0hRn",
          "name": "SG_GoogleGemini_New"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\ndata.execution_id = $input.first().json.execution_id;\nreturn [{ json: { stored: true, execution_id: $input.first().json.execution_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        304
      ],
      "id": "8b200d6d-7e28-4993-aeb1-bf6c970629b3",
      "name": "Store execution id"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nreturn [{ json: { execution_id: data.execution_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        304
      ],
      "id": "e1feb61a-b5e5-4987-a330-f2e30998e148",
      "name": "get stored execution id"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3-8b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2160,
        592
      ],
      "id": "bec59597-165a-4acd-806b-7be3b1f96ced",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "3aTZ2WWqyMZk5JGs",
          "name": "SG OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"Person is interested\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2304,
        592
      ],
      "id": "8d53b70f-cba9-4179-b2e7-5a7ac6a7a900",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2400,
        720
      ],
      "id": "9cf5b659-b316-42f0-b25b-565ec3805ebd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "p5hxeYZcLwpy0hRn",
          "name": "SG_GoogleGemini_New"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b3e666f-779a-4b1d-93cf-ab45913978c2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        528,
        304
      ],
      "id": "0008687b-c6d5-4f4a-919e-0f2d53faadec",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Calling the agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update sheet4": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "get stored execution id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calling the agent": {
      "main": [
        [
          {
            "node": "Store execution id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "update sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Store execution id": {
      "main": [
        [
          {
            "node": "get stored execution id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get stored execution id": {
      "main": [
        [
          {
            "node": "Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8401945a-d733-4d70-87ec-d28688986b1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e99e0d1157c9445a053edb1d8bcb3c19869f806f2b50808813faa4f314de9dd4"
  },
  "id": "Xzu3iUo4hODCtVVC",
  "tags": [
    {
      "updatedAt": "2025-11-01T17:53:32.390Z",
      "createdAt": "2025-11-01T17:53:32.390Z",
      "id": "ng1dgEloOm3KOCuS",
      "name": "SG"
    }
  ]
}
