LinkedIn Content Creation Agents/SG LinkedIn Image Post Human 19June Latest.json
{
  "name": "SG LinkedIn Image Post Human 19June Latest",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Post Idea'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an elite LinkedIn post writer trained to produce crisp, no-fluff, systems-driven content in a {{ $json.Style }} voice.\n\nOBJECTIVE:\nWrite a high-impact LinkedIn post that challenges conventional thinking, delivers clear insight, and drives meaningful discussion.\n\nCONTENT REQUIREMENTS:\n\nBegin with a bold, pattern-breaking hook that immediately creates curiosity or tension.\nUse storytelling to illustrate a real problem, insight, or shift in thinking (personal, observed, or realistic).\nDeliver a clear takeaway rooted in logic, systems thinking, or first principles.\nAvoid generic motivation; focus on specific, thought-provoking ideas.\nKeep language simple, human, and natural. It should feel written by a sharp thinker, not AI.\n\nSTRUCTURE RULES:\n\nUse a MAXIMUM of 4 paragraphs (can be fewer if impactful).\nEach paragraph must contain 1–3 sentences (not fixed).\nSeparate paragraphs using literal \\n\\n (two backslash+n sequences).\nMaintain a strong narrative flow: Hook → Context/Story → Insight → Conclusion + Question.\n\nENGAGEMENT RULES:\n\nEnd with a sharp, open-ended question that invites serious, professional discussion (avoid generic engagement bait).\nAdd 4–6 relevant, non-generic hashtags on the final line after the question.\nLightly incorporate 1–3 subtle emoticons where they enhance tone (e.g., 🙂, ⚡, 🤔). Do not overuse.\n\nSTYLE RULES:\n\nPrioritize clarity, logic, and insight over fluff or inspiration.\nChallenge broken systems, lazy thinking, or widely accepted norms when appropriate.\nDo not seek validation or sound agreeable.\nAvoid buzzwords, clichés, and overused LinkedIn phrases.\nUse single quotes if necessary. Do NOT use double quotes.\nDo NOT use markdown or backticks.\n\nTITLE ALIGNMENT:\n\nEnsure the post strongly reflects and delivers on the given title/topic.\n\nIMAGE PROMPT:\n\nAlso generate an imageprompt (under 30 words).\nIt should visually represent the core tension, problem, or insight from the post.\nKeep it concrete and vivid, not abstract.\n\nOUTPUT FORMAT (STRICT):\nReturn ONLY one JSON object with no additional text:\n{\"post\": \"...\", \"prompt\": \"...\"}\n\nSELF-CHECK BEFORE RESPONDING:\n\npost has AT MOST 3 instances of \\n\\n (max 4 paragraphs).\nEach paragraph has 1–3 sentences.\nFinal paragraph ends with a question mark.\nLast line includes 4–6 hashtags.\nNo double quotes anywhere inside post or imageprompt.\nTotal character count is under 3000.\nWriting feels natural, sharp, and non-robotic.\nEmoticons are used sparingly and appropriately.\n\nNow generate the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        544,
        -112
      ],
      "id": "ef417de1-681b-455c-a715-234f49508639",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "person": "5BqnCFNpig",
        "text": "={{ $('AI Agent').item.json.output.post }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1408,
        -112
      ],
      "id": "2d326948-34f6-481d-b51c-04a10422ee57",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "LGGEp9OGUtbV8n0s",
          "name": "SG LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/nscale/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <Token>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $('AI Agent').item.json.output.prompt }}\",\n\"model\": \"black-forest-labs/FLUX.1-schnell\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        -112
      ],
      "id": "543926df-d2b0-4368-a6a9-ebf8aedff00a",
      "name": "Image generation by Hugging Face"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post\": \"Detailed post\",\n\t\"prompt\": \"AI generated children image\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        720,
        80
      ],
      "id": "04e00d51-2981-4a12-9772-260f5a25e83b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "formTitle": "LinkedIn Content Creation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Post Idea"
            },
            {
              "fieldLabel": "Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Funny"
                  },
                  {
                    "option": "Contrary"
                  },
                  {
                    "option": "Informative"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        352,
        -112
      ],
      "id": "d1195ae2-d2ba-4fc1-b837-83d12dfbf656",
      "name": "On form submission",
      "webhookId": "7a3a05f7-d10c-4548-a33d-df9820973e23"
    },
    {
      "parameters": {
        "content": "## LinkedIn Content Creation Image Post \n**Assignment 1**: Enhance this workflow to Generate 30ideas for 30days content and store in a sheet. Take ideas from sheet every day and generate posts and update the status in google sheet\n\nImage Generation reference:\nhttps://n8n.coachshwetagupta.com/workflow/uYX7zR61kxKOL9Xc?projectId=2Ux3NHTHztfeXVIk&uiContext=workflow_list\n\nHugging Face Documentation: \nhttps://huggingface.co/black-forest-labs/FLUX.1-schnell?inference_provider=nscale&language=js&client=fetch&inference_api=true\n",
        "height": 544,
        "width": 1328
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -320
      ],
      "typeVersion": 1,
      "id": "dc7fb735-e13b-4f44-9add-584204f980f6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "shwetaguptatechie@gmail.com",
        "subject": "Approval needed",
        "message": "={{ $json.output.post }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        -112
      ],
      "id": "9f8bc020-892a-4998-9345-e592c7f5641f",
      "name": "Human in loop",
      "webhookId": "3244e762-e017-4233-90f1-3b64e2b7cdc5",
      "credentials": {
        "gmailOAuth2": {
          "id": "UsEXzwEEKJbvcniU",
          "name": "SG Techie Gmail account 9"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        464,
        96
      ],
      "id": "9fd23d9b-636c-477a-8087-115644d5f0a7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "3aTZ2WWqyMZk5JGs",
          "name": "SG OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1216,
        -112
      ],
      "id": "8098d83b-4c97-4d87-a824-5d3c220d267a",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Human in loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image generation by Hugging Face": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human in loop": {
      "main": [
        [
          {
            "node": "Image generation by Hugging Face",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "12528451-1819-4cfa-91bf-f9ffbd5655f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e99e0d1157c9445a053edb1d8bcb3c19869f806f2b50808813faa4f314de9dd4"
  },
  "id": "JZkVWYNnUYupzOLb",
  "tags": [
    {
      "updatedAt": "2025-12-14T03:05:03.434Z",
      "createdAt": "2025-12-14T03:05:03.434Z",
      "id": "zxsnVdtgBqzZnOQi",
      "name": "Linkedin Post Generator"
    },
    {
      "updatedAt": "2026-06-19T04:13:47.641Z",
      "createdAt": "2026-06-19T04:13:47.641Z",
      "id": "pkMWJ2qQuaMDzK5B",
      "name": "Image Hugging Face"
    }
  ]
}