LinkedIn Content Creation Agents/SG LinkedIn Image Post Human 7April Latest.json
{
  "name": "SG LinkedIn Image Post Human 7April Latest",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Post Idea'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a LinkedIn post writer trained to match a crisp, no-fluff, systems-driven, {{ $json.Style }} style.\n\nTASK:\nCreate a LinkedIn post that:\n- Starts with a strong, thought-provoking hook.\n- Has EXACTLY 4 paragraphs. Each paragraph has 1-3 sentences. Separate paragraphs with literal \\n\\n (two backslash+n sequences).\n-Use storytelling for meking it more engaging\n- Use simple language easy to understand by anyone which does not look robotic/AI generated\n- Ends with a sharp question to drive serious discussion.\n- Includes 4–6 relevant hashtags on the final line after the question.\n- Matches the title\n\nAlso create an image_prompt (under 30 words) that visually represents the main problem or insight.\n\nSTYLE RULES:\n- Favor logic over fluff; challenge flawed systems; never seek validation.\n- Avoid double quotes inside content; use single quotes if needed. Do not include backticks or markdown.\n- Keep total characters under 3000.\n\nOUTPUT CONTRACT:\nReturn ONE JSON object only, no extra fields, exactly in this shape:\n{\"post\": \"...\", \"prompt\": \"...\"}\n\nSELF-CHECK BEFORE RESPONDING:\n- post has exactly 3 occurrences of \\n\\n (4 paragraphs).\n- Each paragraph has 1–3 sentences.\n- Last paragraph ends with a question mark.\n- Final line contains 4–6 hashtags.\n- No double quotes inside post or image_prompt.\n- Total length < 3000 chars.\n\nNow generate the JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        608,
        -128
      ],
      "id": "8844e468-d10e-4a08-9a3d-ff12f8cbcea1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "person": "5BqnCFNpig",
        "text": "={{ $('AI Agent').item.json.output.post }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1200,
        -128
      ],
      "id": "749a2342-c1fb-4242-9f81-7d9f33160f5c",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "LGGEp9OGUtbV8n0s",
          "name": "SG LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        80
      ],
      "id": "9a2e265d-c1f7-455a-8e6c-c02e52a3792e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "p5hxeYZcLwpy0hRn",
          "name": "SG_GoogleGemini_New"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <token>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.output.prompt }}\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -128
      ],
      "id": "5d42e840-d319-427c-a1ec-05632d2215e7",
      "name": "Image generation by Hugging Face"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post\": \"Detailed post\",\n\t\"prompt\": \"AI generated children image\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        80
      ],
      "id": "7b046b7b-9042-4d87-97ec-737e415186ce",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "formTitle": "LinkedIn Content Creation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Post Idea"
            },
            {
              "fieldLabel": "Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Funny"
                  },
                  {
                    "option": "Contrary"
                  },
                  {
                    "option": "Informative"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        352,
        -112
      ],
      "id": "de364410-3920-4b30-8e4b-7f51326046a9",
      "name": "On form submission",
      "webhookId": "4f5abfdf-0442-4f81-8395-c2a29d04610b"
    },
    {
      "parameters": {
        "content": "## LinkedIn Content Creation Image Post \n**Assignment 1**: Enhance this workflow to Generate 30ideas for 30days content and store in a sheet. Take ideas from sheet every day and generate posts and update the status in google sheet\n**Assignment 2**: Before posting the post in LinkedIn, send an email to yourself for approving the post",
        "height": 480,
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -256
      ],
      "typeVersion": 1,
      "id": "3b5d537d-f801-4f15-9de1-93607f717036",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Image generation by Hugging Face",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image generation by Hugging Face": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4afc75b4-9bee-470b-a8a3-d4719390367f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e99e0d1157c9445a053edb1d8bcb3c19869f806f2b50808813faa4f314de9dd4"
  },
  "id": "ixhQkldcYFIXIRGD",
  "tags": [
    {
      "updatedAt": "2025-12-14T03:05:03.434Z",
      "createdAt": "2025-12-14T03:05:03.434Z",
      "id": "zxsnVdtgBqzZnOQi",
      "name": "Linkedin Post Generator"
    }
  ]
}