Data Analyst Agent/SG ECOM Data Insights Analyst.json
{
  "name": "SG ECOM Data Insights Analyst",
  "nodes": [
    {
      "parameters": {
        "content": "### 2/ Change Supabase Credentials\nThe rest will be done",
        "height": 192,
        "width": 391,
        "color": 6
      },
      "id": "f9bd9b32-deb1-4580-bdf1-879e5a564908",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        1344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Set up steps\n\n#### Preparation\n1. **Create Accounts**:\n   - [N8N](https://n8n.partnerlinks.io/2hr10zpkki6a): For workflow automation.\n   - [Supabase](https://supabase.com/): For database hosting and management.\n   - [OpenAI](https://openai.com/): For building the conversational AI agent.\n2. **Configure Database Connection**:\n   - Set up a PostgreSQL database in Supabase.\n   - Use appropriate credentials (`username`, `password`, `host`, and `database` name) in your workflow.\n\n#### N8N Workflow\n\nAI agent with tools:\n\n1. **Code Tool**:\n   - Execute SQL queries based on user input.\n2. **Database Schema Tool**:\n   - Retrieve a list of all tables in the database.\n   - Use a predefined SQL query to fetch table definitions, including column names, types, and references.\n3. **Table Definition**:\n   - Retrieve a list of columns with types for one table.",
        "height": 586,
        "width": 640,
        "color": 7
      },
      "id": "5661285c-98b6-41a3-8823-0c6b29b69e8a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        1248
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Agent to chat with Supabase/PostgreSQL DB\n\nAccessing and analyzing database data often requires SQL expertise or dedicated reports, which can be time-consuming. This workflow empowers users to interact with a database conversationally through an AI-powered agent. It dynamically generates SQL queries based on user requests, streamlining data retrieval and analysis.\n\nThis workflow integrates OpenAI with a Supabase database, enabling users to interact with their data via an AI agent. The agent can:\n- Retrieve records from the database.\n- Extract and analyze JSON data stored in tables.\n- Provide summaries, aggregations, or specific data points based on user queries.\n\n",
        "height": 317,
        "width": 636,
        "color": 7
      },
      "id": "faaba2ae-4ed8-4cd8-b373-c6218e435168",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e33209db-952d-4f32-8602-08b118f9aec2",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        2896,
        1120
      ],
      "webhookId": "67c52c70-0c72-4bfe-aa29-019e58ed454b",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get list of all tables in database",
        "operation": "executeQuery",
        "query": "SELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE' AND table_schema = 'public';",
        "options": {}
      },
      "id": "caa8a88f-bbc3-40b9-8e99-6c3a72aa0199",
      "name": "DB Schema",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        3168,
        1392
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "cwIfTU96zfhPpas8",
          "name": "SG Supabase Postgres account 4"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get table definition to find all columns and types.",
        "operation": "executeQuery",
        "query": "SELECT \n    c.column_name,\n    c.data_type,\n    c.is_nullable,\n    c.column_default,\n    tc.constraint_type,\n    ccu.table_name AS referenced_table,\n    ccu.column_name AS referenced_column\nFROM \n    information_schema.columns c\nLEFT JOIN \n    information_schema.key_column_usage kcu \n    ON c.table_name = kcu.table_name \n    AND c.column_name = kcu.column_name\nLEFT JOIN \n    information_schema.table_constraints tc \n    ON kcu.constraint_name = tc.constraint_name\n    AND tc.constraint_type = 'FOREIGN KEY'\nLEFT JOIN\n    information_schema.constraint_column_usage ccu\n    ON tc.constraint_name = ccu.constraint_name\nWHERE \n    c.table_name = '{{ $fromAI(\"table_name\") }}' -- Your table name\n    AND c.table_schema = 'public' -- Ensure it's in the right schema\nORDER BY \n    c.ordinal_position;\n",
        "options": {}
      },
      "id": "1948cd93-b008-4d4f-ac80-25dc81e7d102",
      "name": "Get table definition",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        3664,
        1408
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "cwIfTU96zfhPpas8",
          "name": "SG Supabase Postgres account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "### Improve Prompt",
        "height": 80,
        "width": 215,
        "color": 6
      },
      "id": "524efea3-ab9e-407b-b6d8-64a9a70271d9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3248,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run custom SQL queries using knowledge about Output structure to provide needed response for user request.\nUse ->> operator to extract JSON data.",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\",\"SQL query for PostgreSQL DB in Supabase\") }}",
        "options": {}
      },
      "id": "cd58c9c0-62d1-4221-83d2-55dc960dc307",
      "name": "Run SQL Query",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        3984,
        1376
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "cwIfTU96zfhPpas8",
          "name": "SG Supabase Postgres account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2720,
        1376
      ],
      "id": "430c640a-c9d5-4ff7-ada0-b2254abfa0ac",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "p5hxeYZcLwpy0hRn",
          "name": "SG_GoogleGemini_New"
        }
      }
    },
    {
      "parameters": {
        "content": "## Insights Agent",
        "height": 544,
        "width": 1664
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        1024
      ],
      "typeVersion": 1,
      "id": "4897d725-d5c2-4e19-ab4e-34dd618cf586",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are DB assistant. You need to run queries in DB aligned with user requests. Whenever you use column names in the query enclose with double quotes. Example instead of SUM(Units) write SUM(\"Units\")\n\nRun custom SQL query to aggregate data and response to user.\n\nFetch all data to analyse it for response if needed.\n\nAlways fetch the schema and table defination before you create the query. \n"
        }
      },
      "id": "bcce0748-6828-491c-aa41-558774f9d078",
      "name": "Insights Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3248,
        1120
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "content": "### DB Schema\n\nGet list of all tables in database\n\n'''\nSELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE' AND table_schema = 'public';\n'''",
        "height": 224,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        1552
      ],
      "typeVersion": 1,
      "id": "037e3c2e-702a-42a7-8902-40b735f05ed3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### 1/ Change Brain",
        "height": 224,
        "width": 279,
        "color": 6
      },
      "id": "36827754-ef98-4a09-af6a-916240af867c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2608,
        1296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Run SQL Query\n\nRun custom SQL queries using knowledge about Output structure to provide needed response for user request.\nUse ->> operator to extract JSON data.",
        "height": 368,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3824,
        1168
      ],
      "typeVersion": 1,
      "id": "66f9d823-144e-4358-ac8b-f5539b5bbeab",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "### Get Table Definition\n\nGet list of all tables in database\n\nOpen Node to See Code",
        "height": 192,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        1360
      ],
      "typeVersion": 1,
      "id": "a0190f36-0e26-444c-bd03-8c632394eab1",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "DB Schema": {
      "ai_tool": [
        [
          {
            "node": "Insights Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Run SQL Query": {
      "ai_tool": [
        [
          {
            "node": "Insights Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get table definition": {
      "ai_tool": [
        [
          {
            "node": "Insights Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Insights Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Insights Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90f940fd-b7ec-42f4-af2b-f665773de02b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e99e0d1157c9445a053edb1d8bcb3c19869f806f2b50808813faa4f314de9dd4"
  },
  "id": "MufGI4QN8S1IbZ8F",
  "tags": []
}