Intelligent Email Sorter Agent/12022026-SG-Email_Intelligent_Agent-v1.json
{
  "name": "12022026-SG-Email_Intelligent_Agent-v1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6379d446-132b-46aa-a5e7-8590a5a41161",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Dal0hu6SbQdcJBDe",
          "name": "SG_Gmail_TechieAccount"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an email sorting assistant with access to Google Sheets. Analyze every email and log it directly to the spreadsheet.\n\nAnalyze this email and categorize it:\n\nEmail From: {{ $json.From }}\nEmail Subject: {{ $json.Subject }}\nEmail Body: {{ $json.snippet }}\nThread ID: {{ $json.threadId }}\n\nFor each email, determine:\n- Type: Choose one (Support, Sales, General Inquiry, Newsletter, Spam, Other)\n- Category: Choose one (Urgent, Important, Normal, Low Priority)\n- Requires Response: Answer Yes or No\n- Suggested Response: Write 1-2 sentences suggesting how to reply, or write \"No response needed\"\n\nAfter analyzing the email, use the Google Sheets tool to add a new row with all this information. Make sure every email gets logged.\n\nToday's date is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "f2e8484b-9ee9-4eb4-aaa3-12c2cd105213",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "8c4b6d2a-3b51-4899-8ab0-152ddeacbec2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "p5hxeYZcLwpy0hRn",
          "name": "SG_GoogleGemini_New"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"type of email\",\n  \"category\": \"category of the email\",\n  \"requires_response\": \"Yes/No\",\n  \"suggested_response\": \"Suggested reponse by the AI Agent\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        240
      ],
      "id": "81a8f10c-c125-4659-b72f-015dccfa8981",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        240
      ],
      "id": "1de10b5f-df98-4459-82a1-d7636a1020b4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "Google Sheet Link(Make a Copy)\nhttps://docs.google.com/spreadsheets/d/1ErjipanwlId2WF4xJ4SMw-56QTGqsURYNbOEURRSuBg/edit?gid=0#gid=0\n",
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -240
      ],
      "id": "0e4ff4a2-f7aa-4b5b-a7eb-970ba0cff6ba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Email sorter V1 - using Google Sheets as a tool",
        "height": 544,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -64
      ],
      "typeVersion": 1,
      "id": "3879783a-5796-4b4f-9b7f-19d2605e7001",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ErjipanwlId2WF4xJ4SMw-56QTGqsURYNbOEURRSuBg",
          "mode": "list",
          "cachedResultName": "20260212_SG_Email_Sorter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ErjipanwlId2WF4xJ4SMw-56QTGqsURYNbOEURRSuBg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ErjipanwlId2WF4xJ4SMw-56QTGqsURYNbOEURRSuBg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Received": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_Received', ``, 'string') }}",
            "Sender Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender_Email', ``, 'string') }}",
            "Email Snippet": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Snippet', ``, 'string') }}",
            "Sender Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender_Name', ``, 'string') }}",
            "Thread ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Thread_ID', ``, 'string') }}",
            "Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type', ``, 'string') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Requires Response": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Requires_Response', ``, 'string') }}",
            "Suggested Response": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Suggested_Response', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Received",
              "displayName": "Date Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Snippet",
              "displayName": "Email Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requires Response",
              "displayName": "Requires Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested Response",
              "displayName": "Suggested Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        336,
        240
      ],
      "id": "a9239c80-e737-4f7a-9f49-c021b17437b1",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swHN4rGGgv0MH5qi",
          "name": "SG Techie Google Sheets account 5"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19c509d27ff6b47a",
          "threadId": "19c509d1fe428f1d",
          "snippet": "book the house",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 588,
          "historyId": "353226",
          "internalDate": "1770879001000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "offer offer offer",
          "From": "Shweta Gupta <shwetaguptatechie@gmail.com>",
          "To": "Shweta Gupta <shwetaguptatechie@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c2f3e291-f2a4-494f-8a20-4d33eb128233",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e99e0d1157c9445a053edb1d8bcb3c19869f806f2b50808813faa4f314de9dd4"
  },
  "id": "h2RtzLSgxy0vbas0_LTKU",
  "tags": []
}
