Intelligent Email Sorter Agent/12022026-SG-Email_Intelligent_Agent-v2.json
{
  "name": "12022026-SG-Email_Intelligent_Agent-v2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        288,
        240
      ],
      "id": "e670bd00-90ba-4065-9b2e-41336b8adcf4",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "UsEXzwEEKJbvcniU",
          "name": "SG Techie Gmail account 9"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Analyze this email and categorize it:\n\nEmail From: {{ $json.From }}\nEmail Subject: {{ $json.Subject }}\nEmail Body: {{ $json.snippet }}\nThread ID: \n\nClassify the email and provide:\n1. Type: (Support, Sales, General Inquiry, Newsletter, Spam, or Other)\n2. Category: (Urgent, Important, Normal, or Low Priority)\n3. Requires Response: (Yes or No)\n4. Suggested Response: (Brief 2-3 sentence suggestion for replying, or \"No response needed\")\n\nBe concise and clear in your classifications.\nToday's date is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        240
      ],
      "id": "93230086-d400-4c3c-b938-0aeef924e4f0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        448
      ],
      "id": "dda5cab9-edea-4935-8fb4-78f0c0138aee",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "p5hxeYZcLwpy0hRn",
          "name": "SG_GoogleGemini_New"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        448
      ],
      "id": "78c4f02f-1001-4b42-ab32-07a3a8faa605",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2e56a08e-e158-4d86-9e0b-cd1edd013090",
              "leftValue": "={{ $json.output.requires_response }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        240
      ],
      "id": "e632a7d2-75a4-4a4c-a8b7-baf52cf7d926",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ErjipanwlId2WF4xJ4SMw-56QTGqsURYNbOEURRSuBg",
          "mode": "list",
          "cachedResultName": "20260212_SG_Email_Sorter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ErjipanwlId2WF4xJ4SMw-56QTGqsURYNbOEURRSuBg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1thtHDuZEPYOPOSlcySgVBLsZKDY5LYf0nE6Ba39BQzM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Email": "={{ $json.output.sender_email }}",
            "Sender Name": "={{ $json.output.sender_name }}",
            "Email Snippet": "={{ $json.output.email_snippet }}",
            "Type": "={{ $json.output.type }}",
            "Category": "={{ $json.output.category }}",
            "Requires Response": "={{ $json.output.requires_response }}",
            "Suggested Response": "={{ $json.output.suggested_response }}",
            "Thread ID": "={{ $('Gmail Trigger1').item.json.threadId }}",
            "Date Received": "={{ $json.output.date_received }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Received",
              "displayName": "Date Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Snippet",
              "displayName": "Email Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requires Response",
              "displayName": "Requires Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested Response",
              "displayName": "Suggested Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        144
      ],
      "id": "653eac61-52ce-4cdd-9cf0-697b4f986a15",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "swHN4rGGgv0MH5qi",
          "name": "SG Techie Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1088,
        336
      ],
      "id": "6b54faa8-ef16-4de5-9cc0-e2bcb6cbce09",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Email Sorter V2 - Only logging the responses that need a response\n\nGoogle Sheet Link(Make a Copy)\nhttps://docs.google.com/spreadsheets/d/1ErjipanwlId2WF4xJ4SMw-56QTGqsURYNbOEURRSuBg/edit?gid=0#gid=0\n",
        "height": 544,
        "width": 1184
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        80
      ],
      "typeVersion": 1,
      "id": "35b9f9de-7374-4fd3-bebc-2bfe0b0178e4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"date_received\": \"date of receiving the email\",\n  \"sender_email\": \"name@email.com\",\n  \"sender_name\": \"John Doe\",\n  \"email_snippet\": \"email snippet\",\n  \"thread_id\": \"abc123xyz\",\n  \"type\": \"type of email\",\n  \"category\": \"category of email\",\n  \"requires_response\": \"Yes/no\",\n  \"suggested_response\": \"response by AI Agent\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        448
      ],
      "id": "ff9d3f64-a1af-4e61-a099-6e81b2f80b6b",
      "name": "Structured Output Parser1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "91c43df3-70c4-4528-bf86-4ea0af6860fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e99e0d1157c9445a053edb1d8bcb3c19869f806f2b50808813faa4f314de9dd4"
  },
  "id": "ny50Cg40DJlARr0GV3LHi",
  "tags": []
}